body {
      background-color: wheat;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #777777
}

.text-orange {
    color: orange;
}

/* .container {
    margin-top: 60px;
    margin-left: 20px;
    padding: 10px;
    width: 60%

} */
/*
.navbar {
    background-color: white;
    position: fixed;
    margin: auto;
    width: 100%;
    color: white
} 
*/
/* .navbar-brand {
    background-color: teal;
    color: white;
} */

/*
h1 {
    background-color: #ffffff;
    border-color: #cccccc;

}
.form-group {
    margin: 0;
    padding: 0;
    border-width: 10px;
    border-color: silver;
}
footer {
    text-align: center;
    background-color: #666666;
    height: 60px;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top-color: teal;
    border-top-width: 7px;
}
nav {
    z-index: 1;
}
.btn {
    margin: 10px
}
.cards {
    margin: 60px, 0, 0, 10px;
}
.jumbotron {
    height: 650px;
    width: 60%
} */